In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('spam.csv',encoding='latin-1')

In [3]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [6]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data['v1']=data['v1'].map({'ham':0, 'spam':1})

In [8]:
data.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [9]:
data.isnull().sum()

v1    0
v2    0
dtype: int64

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [11]:
x = data['v2']
y=data['v1']

In [12]:
cv=CountVectorizer()
x = cv.fit_transform(x)

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [14]:
model = MultinomialNB()

# Training the data using MultinomialNB model

In [15]:
model.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [16]:
print("The score for MultinomialNB model over the given data is ",model.score(x_test,y_test)*100)

The score for MultinomialNB model over the given data is  97.93365959760739

# Predict some texts

In [17]:
text1 = "you won 5000$ for a lucky draw"
data1 = [text1]

In [18]:
data1=cv.transform(data1).toarray()

In [19]:
prediction1 = model.predict(data1)

In [20]:
print(prediction1)
if prediction1[0] == 1:
    print("This is a spam mail")
else:
    print("This is not a spam mail")

[1]
This is a spam mail

In [21]:
text2 = "Hello ritik, how are you?, can you send the today's class notes?"
data2 = [text2]

In [22]:
data2 = cv.transform(data2).toarray()

In [23]:
prediction2 = model.predict(data2)

In [24]:
print(prediction2)
if prediction2[0] == 1:
    print("This is a spam mail")
else:
    print("This is not a spam mail")

[0]
This is not a spam mail

# save the model and vectorizer to a pickle files So that we can use these pickles directly in any project like flask or tkinter or streamlit

In [25]:
import pickle
pickle.dump(model, open('spam_model.pkl','wb'))
pickle.dump(cv,open('vectorizer.pkl','wb'))

# Load the model and vectorizer through pickle

In [26]:
model1 = pickle.load(open('spam_model.pkl','rb'))
vc1 = pickle.load(open('vectorizer.pkl','rb'))

In [27]:
prediction_from_pickle = model1.predict(vc1.transform(["You won 10$"]).toarray())
if prediction_from_pickle[0] == 1:
    print("This is a spam mail")
else:
    print("This is not a spam mail")

This is a spam mail

In [28]:
prediction_from_pickle = model1.predict(vc1.transform(["Vishnu Sai,Your loan-request canbe approved"]).toarray())
if prediction_from_pickle[0] == 1:
    print("This is a spam mail")
else:
    print("This is not a spam mail")

This is a spam mail